<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.submit "Send" %>
  </div>
<% end %>
