<!DOCTYPE html>
<html>
<head>
  <title><%= t :secret_advisor %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= t :secret_advisor %></h1>
<hr/>
<%= yield %>

</body>
</html>
